$fonte: monospace;
$fonteTamanho: 15px;

img{
    width: 500px;
    margin: 80px 100px;
}

#google{
    width: 50px;
}

.privacidade{
    margin-left: -26px;
}

.fundo{
    background-color: #A9C5BA;
    position: absolute;
    width: 705px;
    height: 621px;

}

.teste{
    background: hsl(0, 0%, 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 400px;
    height: 30px;
}

h1{
    margin-left: 400px;
    font-size: 35px;
}

a{
    color: #A9C5BA;
    font-size: 16px;
    cursor: pointer;
}

p{
    font-size: 14px;
    color: #707070;
    margin-left: 105px;

}

.titulo{
    margin-left: 70px;
    color: #707070;
    font-size: 30px;
}

.forgotPass{
    position: relative;
    left: 54%;
    top: 10px;
}

label{
font-family:$fonte;
font-size: $fonteTamanho;
color: #707070;
font-size: 14px;
}

.button{
    height:30PX;
    width:120PX;
    background-color:#707070;
    color: white;
    border: 2px solid #707070;
    border-radius: 100px;
    margin-top: 25px;

}

.button{
    display: block;
    position: relative;
    left: 145px;
}

.button2{
    display: block;
    position: relative;
    left: 130px;
}

.button2{
    height:30PX;
    width:150PX;
    background-color:white;
    color: black;
    border: 2px solid white;
    border-radius: 100px;
    box-shadow: 0px 3px 6px #00000029;
}

input {
    display: block;
    border: 0;
    border-bottom: 2px solid #9e9e9e;
    outline: none;
    transition: .2s ease-in-out;
    box-sizing: border-box;
  }


form{
    margin-top: 26px;
    float: right;
}

fieldset {
    width: 200px;
    margin-left: 95px;
    border-top: 1px solid #707070;
    border-bottom: none;
    border-left: none;
    border-right: none;
    display: block;
    text-align: center;
 }
 
 fieldset legend {
    padding: 25px 10px;
    font-size: 14px;
    color: #707070;
 }

 .error{
     color: red;
 }

 
.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 50px;
  }
  
  .each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }

  .default-nav{
      position: relative;
  }